@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}

    <section class="content-section container">
        <h2 class="section-header">ABOUT</h2>
        <img class="about-band-image" src="Images/Band Members.jpg">
    <p>The Beatles, a revolutionary force in the music industry, redefined the contours of popular music in the 1960s and beyond, leaving an indelible mark on the cultural landscape of the 20th century. Comprised of John Lennon, Paul McCartney, George Harrison, and Ringo Starr, this iconic quartet from Liverpool, England, captivated the world with their innovative sound, profound lyrical depth, and charismatic dynamism. From their early days in the Cavern Club to their groundbreaking studio albums, The Beatles transcended musical boundaries, pioneering genres, and inspiring millions. Their legacy, a rich tapestry of timeless hits like "Hey Jude," "Let It Be," and "A Hard Day's Night," continues to resonate, influencing artists across all musical spectrums and enchanting new generations of fans. This website is a tribute to their extraordinary journey, celebrating the magic and genius of The Beatles, whose music remains as vibrant and relevant today as it was over half a century ago.</p>

    </section>
