@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="modal fade" id="purchaseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Enter your full name</h1>
            </div>
            <form method="post" asp-action="Purchase" data-response-target="#cart-items-container">
                <div class="modal-body">
                    <input type="text" class="form-control" asp-action="Purchase" id="full-name" name="fullName" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Pharches</button>
                </div>
            </form>
        </div>
    </div>
</div>
