@model IEnumerable<Main_Project.Models.Tour>
@*

*@
@{
    ViewData["Title"] = "Home";
}
<section class="content-section container">
    <h2 class="section-header">TOURS</h2>
    <div>
        @foreach (var tour in Model)
        {
            @Html.Partial("_TourRow", tour)
        }
    </div>
</section>