@model Main_Project.ViewModels.ToursListViewModel
@*

*@
@{
    ViewData["Title"] = " Tours";
}
<section class="content-section container">
    <h2 class="section-header">TOURS</h2>
    <div id="tours-container">
        @Html.Partial("_ToursList", Model)
    </div>
</section>